<ion-view view-title="Shop a Item">
    <ion-content ng-class="{expanded:isExpanded}">
    <img class="full-image" style="height: 100%;" src="img/sansa-snowcastle3.jpg">
    <div  class="bar bar-footer">
        <div class="tabs tabs-dark tabs-icon-top">
            <button class="button button-flat button-positive icon-left ion-outlet">Outlets = Emojis</button>
            <button class="button button-clear button-assertive">Clearly Awesome</button>
        </div>
    </div>
    </ion-content>
</ion-view>
