<ion-view view-title="PPlaza App" align-title="left">
    <ion-content style="background: url(img/background.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>PPlaza</h1>
            </div>
        </div><br>
        <div class="button-bar social-login">
            <button ui-sref="app.login" class="button button-full ink" style="border-top: 1px solid #65ACBC;border-right: 0.1px solid #65ACBC;margin-bottom: 0;background-color: #431F67;color:#FFFFFF;">Login</button>
            <button ui-sref="app.signup" class="button button-full ink" style="border-top: 1px solid #65ACBC;margin-bottom: 0;background-color: #431F67;color:#FFFFFF;">Sign Up for FREE</button>
        </div>
    </ion-content>
</ion-view>
