<ion-view view-title="Login" align-title="left">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background: url(img/background.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>PPlaza</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full ink" style="background-color: #65ACBC;color:#FFFFFF">SIGN IN</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-center ion-social-facebook button-positive-900">  SIGN IN WITH FACEBOOK</button>
        </div>
    </ion-content>
</ion-view>
