<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/background.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>PPlaza</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email address" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full ink" style="background-color: #65ACBC;color:#FFFFFF">RESET PASS</button>
        </div>
    </ion-content>
</ion-view>
